In [4]:
import pandas as pd

In [14]:
# read scores and info tables as dataframe
scores = pd.read_csv('./results/fct_scores.csv')
patients = pd.read_csv('./results/test_patients_info.csv')
patients.head()

   patient_id group bmi_category        bmi  height  weight  nb_frame  ed  es
0         101   DCM   Overweight  27.660096   169.0    79.0        30   1  14
1         102   NOR      Obesity  30.818540   156.0    75.0        30   1  13
2         103  MINF      Obesity  34.938776   175.0   107.0        30   1  11
3         104   HCM      Healthy  22.839506   180.0    74.0        30   1  11
4         105   HCM   Overweight  28.066424   173.0    84.0        30   1  10

In [15]:
scores.head()

   patient_id  slice_id  dice_avg   dice_lv   dice_rv  dice_myo
0         101         2  0.715404  0.753115  0.877170  0.515927
1         101         3  0.752699  0.773758  0.859139  0.625201
2         101         4  0.769271  0.782025  0.883813  0.641975
3         101         5  0.769783  0.833599  0.807370  0.668380
4         101         6  0.797083  0.900846  0.752270  0.738134

In [16]:
# merge scores and info tables on patient id
merged = pd.merge(scores, patients, on='patient_id')
merged.head()

,patient_id,slice_id,dice_avg,dice_lv,dice_rv,dice_myo,group,bmi_category,bmi,height,weight,nb_frame,ed,es
0,101,2,0.715404,0.753115,0.877170,0.515927,DCM,Overweight,27.660096,169.0,79.0,30,1,14
1,101,3,0.752699,0.773758,0.859139,0.625201,DCM,Overweight,27.660096,169.0,79.0,30,1,14
2,101,4,0.769271,0.782025,0.883813,0.641975,DCM,Overweight,27.660096,169.0,79.0,30,1,14
3,101,5,0.769783,0.833599,0.807370,0.668380,DCM,Overweight,27.660096,169.0,79.0,30,1,14
4,101,6,0.797083,0.900846,0.752270,0.738134,DCM,Overweight,27.660096,169.0,79.0,30,1,14